.button {
	-fx-background-radius: 0 0 0 0;
	-fx-background-color: #C0C0C0;
	-fx-border-color: #D3D3D3;
}

.button:focused {
    -fx-background-insets: 0, 1, 2;
   	-fx-background-color: #C0C0C0;
	-fx-border-color: #D3D3D3;
}

.button:hover {
   	-fx-background-color: #A9A9A9;
}

.numbers {
	-fx-background-color: #F2F2F2;
	-fx-border-color: #D3D3D3;
}

.numbers:focused {
	-fx-background-color: #F2F2F2;
}

.text-input {
	-fx-background-radius: 0 0 0 0;
}